:root{
    --main-color:#1D9DB5;
    --main-color-60:#1D9DB53C;
    --main-color-light:#41AABE;
    --main-dark:#015463;
    --color-accent:#038BA5;    
    --color-accent-60:#038BA53C;
    --text-color-white:#FFF;
    --white-30:#FFFFFF4C;
}
.w3-theme-l5 {color:#000 !important; background-color:#f0f0f0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#B1C6FC !important}
.w3-theme-l3 {color:#fff !important; background-color:var(--main-color-light) !important}
.w3-theme-l2 {color:#fff !important; background-color:var(--main-dark) !important}
.w3-theme-l1 {color:#fff !important; background-color:var(--color-accent) !important}
.w3-theme-d1 {color:#fff !important; background-color:var(--main-color) !important}
.w3-theme-d2 {color:#fff !important; background-color:var(--main-color) !important}
.w3-theme-d3 {color:#fff !important; background-color:var(--main-color) !important}
.w3-theme-d4 {color:#fff !important; background-color:var(--main-color) !important}
.w3-theme-d5 {color:#fff !important; background-color:var(--main-color) !important}

.w3-theme-light {color:#000 !important; background-color:var(--main-color-light) !important}
.w3-theme-dark {color:#fff !important; background-color:var(--main-dark) !important}
.w3-theme-action {color:#fff !important; background-color:var(--color-accent) !important}

.w3-theme {color:#fff !important; background-color:var(--main-color) !important}
.w3-text-theme {color:var(--color-accent) !important}
.w3-border-theme {border-color:var(--main-dark) !important}

.w3-hover-theme:hover {color:#fff !important; background-color:var(--main-dark) !important}
.w3-hover-text-theme:hover {color:var(--main-dark) !important}
.w3-hover-border-theme:hover {border-color:var(--main-dark) !important}

.w3-button:hover{
  color:#fff!important;
  background-color:var(--main-color-light)!important
}

.header{background-image:url(../files/background.jpg) }

  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: var(--main-color);
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
	color: #f1e5e6;
	background-color: var(--main-color);
	border: black;
	border-width: medium;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	fill: white;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    background-color: var(--color-accent);
}

.drop-zone {
  color: var(--main-color);
  border-style: dashed;
  text-align: center;
  margin: 15px;
  padding: 20px;
  border-radius: 7px;
}

.drop-zone .info p{
  color: var(--main-dark);
}

.drop-zone .info p b{
  color: var(--main-color);
}

.drop-zone.dragover, 
.drop-zone:hover {
  background:var(--main-color-60);
  color: var(--main-color-light);
}

.full-table{
  width: 100%;
}

.cell-config-type{
  width: 50%;
}

.code-textarea {
  padding: 1rem;
  font-size: 16px;
  width: 100%;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  line-height: 1.2;  
  border: 1px solid var(--color-accent);  
  color:var(--main-dark);
}

.input{
  font-size: 18px;
  padding: 5px;
  color: var(--main-color);
  text-align: center;
  padding: 5px;
  border-left: 1px solid var(--main-color-light);
  border-top:1px solid var(--main-color-light);
  border-bottom:1px solid var(--main-color-light);
  border-right:1px solid var(--main-color-light);
}
.strings{  
  border-left: 10px solid #61A8DC;
}

.xml{  
  border-left: 10px solid #8EBD40;
}

.csv{  
  border-left: 5px solid #8e49e8;
}
