/* Some basic style for a loading view when waiting */

body {
    width: 65%;
    margin: auto;
}

.error-container {
    background: #FFF;
}

.drop-zone {
    background: rgba(255, 255, 255, 0.95);
    color: #000;
    border-style: groove;
    height: 250px;
    text-align: center;
    margin: 15px 15px 0px 15px;
}

.drop-zone.dragover {
    background: #f1f1f1;
}

.drop-zone:hover {
    background: #f3f3f3;
}

li.error {
    color: #f00;
    list-style-type: none;
}

li.download {
    list-style-type: none;
    width: 300px;
    height: 30px;
    margin: 0 0 7px 0;
}

li.download a {
    display: block;
    width: 300px;
    height: 30px;
    margin: 0 0 7px 0;
    background: #F7F5F2 url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAcCAYAAACQ0cTtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAcVJREFUSEvtVtFNxDAM7QiMwAiMwAiMwAhs4PZSic8bgRFuhI5wI3QERjjyYjuJrnaagoSExElRT4njZzvPLxmG/99vVIBofhrHcB6neYnjM46bfBfME4XnH8cBJwIA5zoAqKOaD+u3QSUTdjaGD6LTixU95rGeg4mZHsqybO6PNpV6ClcNrguQpjBylOFKRA9dm8QI9hVgO0OOjg/fA6LT/IqA8LXLWgCbZ6hkaBlVhFm8rIVYCNq2IXp/lKxcJ3DeAyZ2F/hDtTZB0TS/pUWnPLqhFyyxFP5iyTdgykBk2CKFBeadr1spdWIB1cy8B1MGOvtW89zaYKUVarCa6jYYK822jCxBN2eTyBKaVhqX7RMJGvugowYYC63JHpCm0sZaJ9N/i1ScdQrksmWjOAQrzWZ1AE22RQcaoOmvRBJWt1mzlMkNEAXYsy0C4bA709/JLjWrKnwDSHsMtm4bSXY41KiNRuer4DYaX/RVfLR7dshR7QDaIpyEPN3ke0qU99fs8whwDyZydwxInUiG8t4Iq/XWgLozSFzXq2lHW5tnKJepgOZ3yKbX+Omwc0Yt0a3XkKkAQzWSDKVLFPMHb/RezL9l9wWuQAy9JbrovAAAAABJRU5ErkJggg==) 97% center no-repeat;
    font-size: 18px;
    color: #333;
    padding: 5px 0 0 20px;
    text-decoration: none;
}

li.download a:hover {
    background-color: #EFEFEF;
}

.Conversion {
    border-left: 5px solid #F5876E;
}

.IOS {
    border-left: 5px solid #61A8DC;
}

.Android {
    border-left: 5px solid #8EBD40;
}

.i18next {
    border-left: 5px solid #ac00c6;
}

.Copydeck {
    border-left: 5px solid #007934;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #8a8a8a;
    padding-bottom: 20px;
}

header {
    background: #d3d3d3;
    color: #375c63;
    padding: 16px;
    margin-bottom: 15px;
}

header h3 {
    margin: 0;
}

header a {
    float: right;
    display: block;
    color: #375c63;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

header a:hover {
    color: black;
}


/* Style the tab */

nav {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
    max-width: 185px;
}


/* Style the buttons that are used to open the tab content */

nav button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

nav button:hover {
    background-color: #ddd;
}


/* Create an active/current "tab button" class */

nav button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container>* {
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    padding: 15px;
    text-align: left;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #8a8a8a;
    padding-bottom: 20px;
}

@media all and (min-width: 768px) {
    .nav {
        text-align: left;
        -webkit-flex: 1 auto;
        flex: 1 auto;
        -webkit-order: 1;
        order: 1;
    }
    .article {
        -webkit-flex: 5 0px;
        flex: 5 0px;
        -webkit-order: 2;
        order: 2;
    }
    footer {
        -webkit-order: 3;
        order: 3;
    }
}

#progressbar-bg {
    width: 310px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    margin: auto;
    visibility: hidden;
}

#progressbar {
    height: 100%;
    width: 0px;
    color: #fff;
    background: rgba(58, 146, 65, 0.55);
    text-align: right;
}

.detail{
    margin-top: -155px
}

fieldset{
    background-color: #FFF;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip img{
    height: 16px;
    width: 16px;
}


/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
